:root {
  --darkpurple: #3a1e4b;
  --lightpurple: #be67c0;
  --purple: #7c398b;
  --lightpink: #f5cff1;
  --lightblue: #8ca2ca;
  --gray: #605e6a;

}

h3 {
  color: var(--darkpurple);
}

.App {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  text-align: center;
}

/* entire navbar */
.navbar {
  height: 5rem;
  background-color: var(--darkpurple);
  background-image: url(space\ \(3\).jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
  cursor: default; 
}

.navbar:hover {
  height: 7rem;
}

.navbar-title {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.name-title {
  margin-top: 20vh;
  margin-bottom: 20vh;
  cursor: default;
  font-size: 9vw;
  font-weight: bold;
  letter-spacing: 0.1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-image: url(space\ \(3\).jpg);
  -webkit-font-smoothing: antialiased;   
}

.about-div {
  cursor: default;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
  width: 40%;
  border: 3px solid var(--gray);
  border-radius: 10px;
  transition: 0.5s ease;
}

.about-div:hover {
  transform: scale(1.05);
}

.increased-margin-bottom {
  margin-bottom: 3rem;
}

.footer {
  border-top: 3px solid black;
}








